# https://peps.python.org/pep-0517/
[build-system]
{% if use_git_tags_for_versioning -%}
requires = ["setuptools>=45", "wheel", "setuptools-scm>=6.2"]
{%- else -%}
requires = ["setuptools>=45", "wheel"]
{%- endif %}
build-backend = "setuptools.build_meta"


# https://peps.python.org/pep-0621/
[project]
name = "{{ plugin_name }}"
description = "{{ short_description }}"
readme = "README.md"
requires-python = ">=3.8"
license = {text = "{{ license }}"}
authors = [
  {email="{{ email }}", name="{{ full_name }}"},
]
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Framework :: napari",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Topic :: Scientific/Engineering :: Image Processing",
]
dynamic = ["version"]
dependencies = [
    "numpy",
{%- if include_widget_plugin %}
    "magicgui",
    "qtpy",
{%- endif %}
]

{% if repository_url != 'provide later' -%}
[project.urls]
Homepage = "{{ repository_url }}"
"Bug Tracker" = "{{ repository_url }}/issues"
Documentation = "{{ repository_url }}#README.md"
"Source Code" = "{{ repository_url }}"
{%- endif %}

# extras
# https://peps.python.org/pep-0621/#dependencies-optional-dependencies
[project.optional-dependencies]
testing = [
    "npe2",
    "pytest",  # https://docs.pytest.org/en/latest/contents.html
    "pytest-cov",  # https://pytest-cov.readthedocs.io/en/latest/
    "tox",
{%- if include_widget_plugin %}
    "pytest-qt",  # https://pytest-qt.readthedocs.io/en/latest/
    "napari",
    "pyqt5",
{%- endif %}
]
{%- if include_widget_plugin %}
# you've selected a widget plugin, these extras allow you to declare
# the backends you support (you should aim to support both)
# these are also used in the tox.ini file
pyqt5 = ["PyQt5>=5.12.3"]
pyside2 = ["PySide2>=5.14.2"]
{%- endif %}


# Entry points
# https://peps.python.org/pep-0621/#entry-points
[project.entry-points."napari.manifest"]
{{plugin_name}} = "{{module_name}}:napari.yaml"

# https://setuptools.pypa.io/en/latest/userguide/pyproject_config.html
[tool.setuptools]
zip-safe = false
include-package-data = true
packages = {find = {where = ["src"], exclude=[]}}

[tool.setuptools.package-data]
"*" = ["*.yaml"]
{% if use_git_tags_for_versioning %}
[tool.setuptools_scm]
{% endif %}
[tool.black]
line-length = 79

[tool.isort]
profile = "black"
line_length = 79

# https://github.com/mgedmin/check-manifest#configuration
[tool.check-manifest]
ignore = [
  ".napari/**/*",
  ".pre-commit-config.yaml",
  "{{_copier_conf.answers_file}}",
  "tox.ini",
]

# https://docs.pytest.org/en/6.2.x/customize.html
[tool.pytest.ini_options]
minversion = "6.0"
filterwarnings = [
    "error:::{{module_name}}",  # make all internal warnings errors (test them directly)
    "ignore:distutils Version classes are deprecated:DeprecationWarning",
]
